logs
project/project
project/target
target
.target
tmp
.history
dist
/.idea
*/.idea
**/.idea
/*.iml
**/*.iml
/out
*/out
/.idea_modules
*/.idea_modules
**/.classpath
**/.cache
*/.cache
.project
RUNNING_PID
/.settings
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.*~
